$gray: #6e6e6e;

$black: #2a2a2a;
$white: #ffffff;
$light: #f7f9fa;
$gray: #686868;
$light-gray: #f3f3f3;

$border-color: #d8d8d8;
$border-color-light: $light-gray;

//$danger-text: #721c24;
$danger-text: #cb2431;
$danger-background: #f8d7da;

$first: #333745;
$second: #e7e7e7;
$third: #4d4d8b;
$third-light: #ecf4ff;

$link: #6f53c0;
$link-hover: darken($link, 5%);
