@import '../../App/responsive';
@import '../../App/theme';
@import '../../App/font';
@import '../../App/rem';

.wrapper {
  margin-top: rem(32px);
}

.number {
  flex-grow: 1;
}

.cvc,
.expiry {
  width: rem(100px);
}

.flash {
  margin-bottom: rem(20px);
}

.label {
  @include font-size('medium');
}

.input {
  margin-top: rem(8px);
}

.input-row {
  &:not(:first-child) {
    margin-top: rem(8px);
  }
}

.card-row {
  display: flex;
}

.heading {
  @include font-size('2x-large');
  font-weight: 600;
}

.content-wrapper {
  padding-right: rem(52px);
}

.content {
  margin-top: rem(20px);
}

.card-number {
  padding: rem(10px) rem(12px);
  border: 2px solid $border-color;

  &.card-number-active {
    border: 2px solid $third;
  }
}

.countries-select {
  width: 100%;
  display: block;
}
